doctype html
html
  head
    title= title
    <!-- slotEnvironment= slotEnvironment -->
    <!-- slotSQLConnection= slotSQLConnection -->
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    block content
